.not-found {
    .button {
        font-weight: 300;
        color: #fff;
        font-size: 1.2em;
        text-decoration: none;
        border: 1px solid #efefef;
        padding: .5em;
        border-radius: 3px;
        float: left;
        margin: 6em 0 0 -155px;
        left: 50%;
        position: relative;
        transition: all .3s linear;
    }

    p {
        font-size: 2em;
        text-align: center;
        font-weight: 100;
    }

    h1 {
        text-align: center;
        font-size: 15em;
        font-weight: 100;
        text-shadow: $lightGray 1px 1px,
        $lightGray 2px 2px,
        $lightGray 3px 3px,
        $veryLight 4px 4px,
        $veryLight 5px 5px,
        $veryLight 6px 6px,
        $veryLight 7px 7px,
        $veryLight 8px 8px,
        $veryLight 9px 9px,
        $veryLight 10px 10px,
        $veryLight 11px 11px,
        $veryLight 12px 12px,
        $veryLight 13px 13px,
        $veryLight 14px 14px,
        $veryLight 15px 15px,
        $veryLight 16px 16px,
        $veryLight 17px 17px,
        $veryLight 18px 18px,
        $veryLight 19px 19px,
        $veryLight 20px 20px,
        $veryLight 21px 21px,
        $veryLight 22px 22px,
        $veryLight 23px 23px,
        $veryLight 24px 24px,
        $veryLight 25px 25px,
        $veryLight 26px 26px,
        $veryLight 27px 27px,
        $veryLight 28px 28px,
        $veryLight 29px 29px,
        $veryLight 30px 30px,
        $veryLight 31px 31px,
        $veryLight 32px 32px,
        $veryLight 33px 33px,
        $veryLight 34px 34px,
        $veryLight 35px 35px,
        $veryLight 36px 36px,
        $veryLight 37px 37px,
        $veryLight 38px 38px,
        $veryLight 39px 39px,
        $veryLight 40px 40px,
        $veryLight 41px 41px,
        $veryLight 42px 42px,
        $veryLight 43px 43px,
        $veryLight 44px 44px,
        $veryLight 45px 45px,
        $veryLight 46px 46px,
        $veryLight 47px 47px,
        $veryLight 48px 48px,
        $veryLight 49px 49px,
        $veryLight 50px 50px,
        $veryLight 51px 51px,
        $veryLight 52px 52px,
        $veryLight 53px 53px,
        $veryLight 54px 54px,
        $veryLight 55px 55px,
        $veryLight 56px 56px,
        $veryLight 57px 57px,
        $veryLight 58px 58px,
        $veryLight 59px 59px,
        $veryLight 60px 60px,
        $veryLight 61px 61px,
        $veryLight 62px 62px,
        $veryLight 63px 63px,
        $veryLight 64px 64px,
        $veryLight 65px 65px,
        $veryLight 66px 66px, 
        $veryLight 67px 67px,
        $veryLight 68px 68px,
        $veryLight 69px 69px,
        $veryLight 70px 70px,
        $veryLight 71px 71px,
        $veryLight 72px 72px,
        $veryLight 73px 73px,
        $veryLight 74px 74px,
        $veryLight 75px 75px,
        $veryLight 76px 76px,
        $veryLight 77px 77px,
        $veryLight 78px 78px,
        $veryLight 79px 79px,
        $veryLight 80px 80px,
        $veryLight 81px 81px,
        $veryLight 82px 82px,
        $veryLight 83px 83px
        $veryLight 84px 84px,
        $veryLight 85px 85px,
        $veryLight 86px 86px,
        $gray 87px 87px,
        $gray 88px 88px,
        $gray 89px 89px,
        $gray 90px 90px,
        $gray 91px 91px,
        $gray 92px 92px,
        $gray 93px 93px,
        $gray 94px 94px,
        $gray 95px 95px,
        $gray 96px 96px,
        $gray 97px 97px,
        $gray 98px 98px,
        $gray 99px 99px,
        $gray 100px 100px,
        $gray 101px 101px,
        $gray 102px 102px,
        $gray 103px 103px,
        $gray 104px 104px,
        $gray 105px 105px,
        $gray 106px 106px,
        $gray 107px 107px,
        $gray 108px 108px,
        $gray 109px 109px,
        $gray 110px 110px,
        $gray 111px 111px,
        $gray 112px 112px,
        $gray 113px 113px,
        $gray 114px 114px,
        $gray 115px 115px,
        $gray 116px 116px,
        $lightGray 117px 117px,
        $lightGray 118px 118px,
        $lightGray 119px 119px,
        $lightGray 120px 120px,
        $lightGray 121px 121px,
        $lightGray 122px 122px,
        $lightGray 123px 123px,
        $lightGray 124px 124px,
        $lightGray 125px 125px,
        $lightGray 126px 126px,
        $lightGray 127px 127px,
        $lightGray 128px 128px,
        $lightGray 129px 129px,
        $lightGray 130px 130px, 
        $lightGray 131px 131px,
        $lightGray 132px 132px,
        $lightGray 133px 133px,
        $lightGray 134px 134px,
        $lightGray 135px 135px,
        $lightGray 136px 136px,
        $lightGray 137px 137px,
        $lightGray 138px 138px,
        $lightGray 139px 139px,
        $lightGray 140px 140px,
        $lightGray 141px 141px,
        $lightGray 142px 142px,
        $lightGray 143px 143px,
        $lightGray 144px 144px,
        $lightGray 145px 145px,
        $lightGray 146px 146px,
        $lightGray 147px 147px,
        $lightGray 148px 148px,
        $lightGray 149px 149px,
        $lightGray 150px 150px,
        $lightGray 151px 151px,
        $lightGray 152px 152px,
        $lightGray 153px 153px,
        $lightGray 154px 154px,
        $lightGray 155px 155px,
        $lightGray 156px 156px,
        $lightGray 157px 157px,
        $lightGray 158px 158px,
        $lightGray 159px 159px,
        $lightGray 160px 160px,
        $lightGray 161px 161px,
        $lightGray 162px 162px,
        $lightGray 163px 163px,
        $lightGray 164px 164px,
        $lightGray 165px 165px,
        $lightGray 166px 166px,
        $lightGray 167px 167px,
        $lightGray 168px 168px,
        $lightGray 169px 169px,
        $lightGray 170px 170px,
        $lightGray 171px 171px,
        $lightGray 172px 172px,
        $lightGray 173px 173px,
        $lightGray 174px 174px,
        $lightGray 175px 175px,
        $lightGray 176px 176px,
        $lightGray 177px 177px,
        $lightGray 178px 178px,
        $lightGray 179px 179px,
        $lightGray 180px 180px,
        $lightGray 181px 181px,
        $lightGray 182px 182px,
        $lightGray 183px 183px,
        $lightGray 184px 184px,
        $lightGray 185px 185px,
        $lightGray 186px 186px,
        $lightGray 187px 187px,
        $lightGray 188px 188px,
        $lightGray 189px 189px,
        $lightGray 190px 190px,
        $lightGray 191px 191px,
        $lightGray 192px 192px, 
        $lightGray 193px 193px,
        $lightGray 194px 194px,
        $lightGray 195px 195px,
        $lightGray 196px 196px,
        $lightGray 197px 197px,
        $lightGray 198px 198px,
        $lightGray 199px 199px,
        $lightGray 200px 200px;
    }
}
