.login {
    display: flex;
    min-height: 100vh;
    &::before {
        content: "";
        background: url("../../Assets/login-background.png") no-repeat;
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        filter: blur(0.75rem);
        z-index: -1;
    }
    &-form {
        padding: 1.5rem;
        border-radius: 6px;
        background-color: #fff;
        box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12); 
        &__with-errors {
            color: #e65252;
            margin: 0 0 1rem;
            font-weight: bold;
        }
        &__btn, label {
            display: block;
            margin-bottom: 1rem;
        }
        &__header {
            padding-bottom: 1rem;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                right: 85%;
                top: 70%;
                background-color: $gold;
                height: 3px;
                border-radius: 0.8rem;
            }
        }
        &__signup {
            background:  rgba(255, 255, 255, 0.12);
            position: relative;
            margin-top: 3rem;
            &::before {
                content: "";
                background: $lightGray;
                height: 1px;
                bottom: 3.5rem;
                left: 0;
                right: 0;
                position: absolute;
            }
        }
    }
}
