// colors
$purple: rgb(116,90,130);
$lightPurple: rgb(155,86,255);
$gold: rgb(253,188,24);
$gray: rgb(176,176,176);
$darkGray: rgb(127,127,127);
$lightGray: rgb(211,211,211);
$veryLight: rgb(245,247,250);
$white: rgb(255,255,255);

// font sizes
$font-sm: 0.875rem;
$font-med: 1.125rem;
