.dashboard {
    &-main {
        width: 100%;
        @include breakpoint-up(large) {
            width: 60%;
        }
    }
    &-summary {
        column-gap: 1rem;
        @include breakpoint-up(large) {
            display: flex;
            justify-content: space-around;
        }
    }
}
