.dashboard {
    &-main {
        width: 100%;
    }
    &-summary {
        column-gap: 1rem;
        @include breakpoint-up(large) {
            display: flex;
            justify-content: space-between;
        }
    }

    &-desktop__bar {
        @include breakpoint-up(large) {
            width: 60%;
            align-items: flex-end;
            margin: 0 auto;
        }
        i {
            display: inline-block;
            cursor: pointer;
        }
        &-user {
            color:$lightPurple;
            padding: 1rem;
            border-radius: 50%;
            background-color: white;
            margin-left: 1rem;
        }
        &-bell {
            color:$lightPurple;
            padding: 1rem;
            border-radius: 50%;
            background-color: white;
            margin-right: 1rem;
        }

    }
}
