.element {
    &-box {
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        background-color: $white;
        box-shadow: 0px 0px 3px $lightGray;
        margin: 1rem 0;
        @include breakpoint-up(large) {
            flex: 1 1;
        }
        .label {
            font-size: 1rem;
            color: $purple;
            margin-bottom: 0;
            font-weight: 600;
            text-transform: uppercase;
        }

        .value {
            font-size: 1.70rem;
            margin: 0 0 1rem;
            font-weight: 500;
            letter-spacing: 1px;
        }

        &-footer {
            span {
                align-self: center;
                opacity: 0.5;
            }
        }
    }
    &-header {
        padding-bottom: 1rem;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            right: 85%;
            top: 70%;
            background-color: $gold;
            height: 3px;
            border-radius: 0.8rem;
        }
    }
    &-description {
        opacity: 0.7;
        font-size: 1rem;
    }
}
