.payment {
    background-color: $white;
    border-radius: 0.5rem;
    box-shadow: 0 0 2px 5px $veryLight;
    padding: 1.5rem;
    @include breakpoint-up(large) {
        margin: 0 auto;
        width: 50%;
        display: flex;
    }

    label + .payment-form {
        margin-bottom: 1rem;
    }

    .payment-form {
        padding: 0.5rem 1rem;
        font-size: 16px;
        font-weight: 500;
    }

    form {
        display: flex;
        flex-direction: column;
        @include breakpoint-up(medium) {
            margin: 0 auto;
            width: 100%;
            padding: 1.5rem;
        }

    }

    button {
        margin: 1rem 0;
        align-self: flex-end;
        min-width: 5rem;
    }

    &-expiry {
        width: 47%;
        @include breakpoint-down(medium) {
            width: 100%;
        }
    }
    &-cvc {
        width: 47%;
        @include breakpoint-down(medium) {
            width: 100%;
        }
    }

    &-card, &-name {
        margin-bottom: 1rem;
    }
}
