.payment {
    display: flex;
    background-color: $white;
    border-radius: 0.5rem;
    box-shadow: 0 0 2px 5px $veryLight;
    width: 50%;
    margin: 5% auto;

    label + .payment-form {
        margin-bottom: 1rem;
    }

    .payment-form {
        padding: 0.5rem 1rem;
        font-family: Roboto, Open Sans, Segoe UI, sans-serif;
        font-size: 16px;
        font-weight: 500;
    }

    form {
        display: flex;
        flex-direction: column;
        @include breakpoint-up(large) {
            padding: 1.5rem;
            width: 80%;
            margin: 0 auto;
        }
    }

    button {
        margin: 1rem 0;
        align-self: flex-end;
        min-width: 5rem;
    }

    &-expiry {
        width: 47%;
    }
    &-cvc {
        width: 47%;
    }

    &-card, &-name {
        margin-bottom: 1rem;
    }
}
