.container {
    width:100%;
}

.progressbar {
    counter-reset:step;
    display: flex;
}

.progressbar li {
    list-style-type:none;
    position: relative;
    width:33%;
    text-align:center;
    font-weight: 700;
}

.progressbar li:before {
    content: counter(step);
    counter-increment:step;
    width:30px;
    height:30px;
    line-height:30px;
    border: 1px solid #ddd;
    text-align: center;
    display: block;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color:#fff;
}

.progressbar li:after {
    content: '';
    position: absolute;
    width:100%;
    height: 1px;
    background-color:#ddd;
    top:15px;
    left:-50%;
    z-index:-1;
}

.progressbar li:first-child:after {
    content:none;
}

.progressbar li.active {
    color:$lightPurple;
}

.progressbar li.active:before {
    font-family: "FontAwesome";
    content: "\f00c";
    border-color:$lightPurple;
}

.progressbar li.progress {
    color:$purple;
}

.progressbar li.progress:before {
    font-family: "FontAwesome";
    content: "\f251";
    color: $purple;
    border-color:currentColor;
}

.progressbar li.inactive {
    color:$lightGray;
}

.progressbar li.inactive:before {
    font-family: "FontAwesome";
    content: "\f110";
    color: $lightGray;
    border-color:currentColor;
}
