.community {
  position: relative;
  margin: 0 0 1rem;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    margin: 0.5rem;
    background-color: $gray;
    height: 1px;
    border-radius: 0.8rem;
  }

  & strong {
    color: $purple;
    font-size: 1.8rem;
  }

  &-description {
    color: rgba(0, 0, 0, 0.4);
  }
  & button {
    display: block;
    float: right;
    position: relative;
    top: -48px;
  }

  &-card {
    @include breakpoint-up(large){
      display: flex;
    }
  }
  &-stat {
    height: 100%;
    i {
      font-size: 2.5rem;
      color: $lightPurple;
    }
  }
}
